<a href="https://colab.research.google.com/github/ARJUN108-verma/My-YouTube-Channel/blob/main/Complete_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Complete Python

Python :- Python is a popular, high-level, general-purpose programming language known for its clear syntax and readability, making it beginner-friendly and efficient for a wide range of applications, including web development, data science, automation, and artificial intelligence.

Python was developed by Guido van Rossum, a Dutch programmer. He began working on Python in the late 1980s at Centrum Wiskunde & Informatica (CWI) in the Netherlands, and its first version was released in 1991.

In [67]:
print("Welcome to Python course")

Welcome to Python course

#Comments

Comments in Python are used to add explanatory notes within the code, making it more readable and understandable for both the original programmer and others who might review the code later. The Python interpreter ignores comments during program execution.

Single line comments:-

In [68]:
#1-this is the single line comment
print("hello world")

hello world

Multi-line comments:-

In [69]:
"""this is
multi-line
comments"""
print("Arjun")

Arjun

#Variables:-a variable is a named storage location that holds a value. It acts as a symbolic name, or identifier, for a piece of data in your program's memory.

In [70]:
#integer variable
age = 25
print("age",age)

age 25

In [71]:
#float variable
height = 6.3
print(height)

6.3

In [72]:
#string variable
name = "Arjun"
print(name)

Arjun

In [73]:
#boolean variabel
is_present = True
print(is_present)

True

In [74]:
#List variable
fruits = ["apple", "mango","banana"]
print(fruits)

['apple', 'mango', 'banana']

In [75]:
#Dictionary
student = {"name":'arjun',"age ":23}
print(student)

{'name': 'arjun', 'age ': 23}

In [76]:
#Tuple variable
color = ("red","balck", "yellow")
print(color)

('red', 'balck', 'yellow')

In [77]:
#set variabel
number = {1, 2, 3,4, 5}
print(number)

{1, 2, 3, 4, 5}

# Data types:- Python supports various built-in data types to store different kinds of values. These data types can be broadly categorized as follows:

In [78]:
#integer
x = 9
print(type(x))

<class 'int'>

In [79]:
#float
y = 9.9
print(type(y))

<class 'float'>

In [80]:
#string
na = "ARJUN"
print(type(na))

<class 'str'>

In [81]:
#boolean
is_present = False
print(type(is_present))

<class 'bool'>

In [82]:
#List
fruits= ['APPLE ', "mange", "banana"]
print(type(fruits))

<class 'list'>

In [83]:
#tuple
coordinates = (10.0, 20.0)
print(type(coordinates))

<class 'tuple'>

In [84]:
#dictionary
student = {"name ":"arjun", "Roll_nu":108}
print(type(student))

<class 'dict'>

In [85]:
#set
num = {1, 2, 3, 5}
print(type(num))

<class 'set'>

In [86]:
#none
nothing = None
print(type(nothing))

<class 'NoneType'>

#Numbers :- Python numbers are a fundamental data type for representing and manipulating numerical values. The three main forms of numbers in Python are integers, floating-point numbers, and complex numbers

In [87]:
#integer
num1 = 10
print(type(num1))

<class 'int'>

In [88]:
#Float(Decimal number)
num2 = 9.81
print(type(num2))

<class 'float'>

In [89]:
#comples number
num3 = 7 + 12j
print(type(num3))

<class 'complex'>

#Casting:- In Python, "casting" or "type casting" refers to the process of converting a value from one data type to another. This can be done either explicitly by the programmer or implicitly by Python during certain operations

In [90]:
#int to float
x = 10 #int value
y = float(x)
print(type(y))

<class 'float'>

In [91]:
#float to int
num4 = 9.9 #float value
num5 = int(num4)
print(type(num5))
print(num5)

<class 'int'>
9

In [92]:
#string to  int
str1 = "123"
print(type(str1))
num6 = int(str1)
print(type(num6))

<class 'str'>
<class 'int'>

In [93]:
#string to float
str2 = "9.72"
num7 = float(str2)
print(type(num7))
print(num7)

<class 'float'>
9.72

In [94]:
#int to string
num8 = 18
str3 = str(num8)
print(type(str3))
print(str3)

<class 'str'>
18

#String:-a string is an immutable sequence of characters, used to represent text. Strings are a fundamental data type in Python and are widely used for handling and manipulating text.

In [95]:
str1 = "My name is ARJUN"
print(type(str1))

<class 'str'>

In [96]:
print(str1.upper())

MY NAME IS ARJUN

In [99]:

print(str1.lower())

my name is arjun

#Boolean:- a boolean is a built-in data type that represents truth values. It has two possible values: True and False. These are keywords and are case-sensitive, so they must be capitalized.

In [100]:
a = True
b = False
print(a)

True

In [101]:
print(b)

False

In [102]:
x = 10
y = 9
if x > y:
  print(True)
else:
  print(False)

True