<a href="https://colab.research.google.com/github/ARJUN108-verma/My-YouTube-Channel/blob/main/Complete_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Complete Python

Python :- Python is a popular, high-level, general-purpose programming language known for its clear syntax and readability, making it beginner-friendly and efficient for a wide range of applications, including web development, data science, automation, and artificial intelligence.

Python was developed by Guido van Rossum, a Dutch programmer. He began working on Python in the late 1980s at Centrum Wiskunde & Informatica (CWI) in the Netherlands, and its first version was released in 1991.

In [1]:
print("Welcome to Python course")

Welcome to Python course

#Comments

Comments in Python are used to add explanatory notes within the code, making it more readable and understandable for both the original programmer and others who might review the code later. The Python interpreter ignores comments during program execution.

Single line comments:-

In [2]:
#1-this is the single line comment
print("hello world")

hello world

Multi-line comments:-

In [3]:
"""this is
multi-line
comments"""
print("Arjun")

Arjun

Variables:-a variable is a named storage location that holds a value. It acts as a symbolic name, or identifier, for a piece of data in your program's memory.

In [4]:
#integer variable
age = 25
print("age",age)

age 25

In [5]:
#float variable
height = 6.3
print(height)

6.3

In [6]:
#string variable
name = "Arjun"
print(name)

Arjun

In [7]:
#boolean variabel
is_present = True
print(is_present)

True

In [8]:
#List variable
fruits = ["apple", "mango","banana"]
print(fruits)

['apple', 'mango', 'banana']

In [10]:
#Dictionary
student = {"name":'arjun',"age ":23}
print(student)

{'name': 'arjun', 'age ': 23}

In [11]:
#Tuple variable
color = ("red","balck", "yellow")
print(color)

('red', 'balck', 'yellow')

In [12]:
#set variabel
number = {1, 2, 3,4, 5}
print(number)

{1, 2, 3, 4, 5}

Data types:- Python supports various built-in data types to store different kinds of values. These data types can be broadly categorized as follows:

In [14]:
#integer
x = 9
print(type(x))

<class 'int'>

In [15]:
#float
y = 9.9
print(type(y))

<class 'float'>

In [16]:
#string
na = "ARJUN"
print(type(na))

<class 'str'>

In [17]:
#boolean
is_present = False
print(type(is_present))

<class 'bool'>

In [18]:
#List
fruits= ['APPLE ', "mange", "banana"]
print(type(fruits))

<class 'list'>

In [19]:
#tuple
coordinates = (10.0, 20.0)
print(type(coordinates))

<class 'tuple'>

In [20]:
#dictionary
student = {"name ":"arjun", "Roll_nu":108}
print(type(student))

<class 'dict'>

In [21]:
#set
num = {1, 2, 3, 5}
print(type(num))

<class 'set'>

In [22]:
#none
nothing = None
print(type(nothing))

<class 'NoneType'>